html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.patient_profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* max-width: 500px; */
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group label {
  font-weight: 500;
}

.save-btn {
  width: max-content;
  padding: 10px 50px;
  border-radius: 12px;
  background-color: #014041;
  color: #efefef;
}

.appointments {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.one-appointment {
  background-color: #efefef;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.appointment-details {
  display: flex;
  justify-content: space-between;
}

.appointment-btns {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.appointment-btns button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.edit-btn {
  width: max-content;
  padding: 10px 50px;
  border-radius: 12px;
  background-color: #014041;
  color: #efefef;
}

.delete-btn {
  width: max-content;
  padding: 10px 50px;
  border-radius: 12px;
  background-color: red;
  color: #efefef;
}

button {
  outline: 0;
  border: 0;
}

.appointment-header {
  display: flex;
  justify-content: space-between;
}

.appointments-page, .insurance {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.appointment-header button {
  font-weight: 600;
  font-size: 1.2rem;
  height: max-content;
  width: max-content;
}

.cancel-btn {
  width: max-content;
  padding: 10px 50px;
  border-radius: 12px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: 4px;
}

.popup-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 25px;
  padding: 35px;
  width: 500px;
}

.create-appointment {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.create-btns {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}


.appointment-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.appointment-title span {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #014041;
}

input:focus {
  outline: 0;
  border: 1px solid #008183;
}